/* start dropdown project  */

/* epilogue-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/epilogue-v17-latin-500.woff2') format('woff2'), 
       url('../fonts/epilogue-v17-latin-500.woff') format('woff'); 
}
/* epilogue-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/epilogue-v17-latin-700.woff2') format('woff2'), 
       url('../fonts/epilogue-v17-latin-700.woff') format('woff'); 
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Epilogue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
}

/* start header part  */
.site-header {
  padding-top: 21px;
  padding-bottom: 67px;
}


.heaader {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 62px;
}


.nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.nav__item {
  position: relative;
  margin-right: 40px;
  list-style-type: none;
}
.nav__item:nth-child(1):hover .dropdown {
  display: block;
}
.nav__item:nth-child(2):hover .information {
  display: block;
}
.nav__item:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__item:last-child {
  margin-right: 0;
}


.nav__link {
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  text-decoration: none;
}

.nav__item:nth-child(1) .nav__link::after {
  display: inline-block;
  margin-left: 9px;
  background-image: url("./images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 8px 4px;
  width: 8px;
  height: 4px;
  content: "";
}
.nav__item:nth-child(2) .nav__link::after {
  display: inline-block;
  margin-left: 9px;
  background-image: url("./images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 8px 4px;
  width: 8px;
  height: 4px;
  content: "";
}


.dropdown {
  position: absolute;
  top: 36px;
  right: 0;
  display: none;
  width: 153px;
  margin: 0;
  padding-left: 0;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 10px 40px #00000026;
  border-radius: 10px;  
}
.dropdown__item {
  margin-bottom: 16px;
  list-style-type: none;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}
.dropdown__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #686868;  
  text-decoration: none;
}
.dropdown__link--list::before {
  display: block;
  margin-right: 15px;
  background-image: url("./images/List.svg");
  background-repeat: no-repeat;
  background-size: 14px 16px;
  width: 14px;
  height: 16px;
  content: "";
}
.dropdown__link--calendar::before {
  display: block;
  margin-right: 15px;
  background-image: url("./images/calendar.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: "";
}
.dropdown__link--bell::before {
  display: block;
  margin-right: 15px;
  background-image: url("./images/bell.svg");
  background-repeat: no-repeat;
  background-size: 12px 16px;
  width: 12px;
  height: 16px;
  content: "";
}
.dropdown__link--clock::before {
  display: block;
  margin-right: 15px;
  background-image: url("./images/clock.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: "";
}


.information {
  position: absolute;
  top: 36px;
  left: 0;
  display: none;
  width: 116px;
  margin: 0;
  padding-left: 0;
  padding: 24px 25px;
  background: #fff;
  box-shadow: 0px 10px 40px #00000026;
  border-radius: 10px; 
}
.information__item {
  margin-bottom: 16px;
  list-style-type: none;
}
.information__item:last-child {
  margin-bottom: 0;
}
.information__link {
  font-size: 14px;
  line-height: 16px;
  color: #686868;  
  text-decoration: none;
}

.selectors__link {
  margin-right: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  text-decoration: none;
}

.selectors__link2 {
  padding: 13px 22px;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  border: 1.5px solid #686868;
  border-radius: 14px;
  text-decoration: none;
}
/* finish header part  */
.site-main {
  flex-grow: 1;
}


.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.hero__left {
  width: 540px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1.11111px;
  color: #151515;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 18px;
  line-height: 28px;
  color: #686868;
}

.hero__link {
  padding: 15px 28px 13px 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #FAFAFA;
  background-color: #151515;
  border-radius: 15px;
  text-decoration: none;
}

.hero__list {
  display: flex;
  align-items: center;
  margin-top: 113px;
  padding-left: 0;
  list-style-type: none;
}

.hero__item {
  margin-right: 40px;
}
/* finish main part  */
